body {
    margin: 0px;
    background-color: black;
    font-family:Oswald;
}
footer {
    background-color: black;
}
header {
    background-color: black;
    color: white;
}
main {
    background-color: rgb(255, 255, 255);
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 850px;
    margin: auto;
}
.katalog {
    justify-content: space-around;
    display: flex;
}
.mini_card {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px;
    margin: 40px;
    text-align: center;
    transition: transform 0.3s ease;
}
.mini_card3 {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px;
    margin: 40px;
    text-align: center;
    transition: transform 0.3s ease;
}
.mini_card4 {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px;
    margin: 40px;
    text-align: center;
    transition: transform 0.3s ease;
}
.kat_text {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    transition: ease 0.4s;
}
header h1 {
    text-align: center;
    font-size: 32px;
}
div a {
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
}
.mini_card2  {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px;
    margin: 40px;
    transition: transform 0.3s ease;
    padding-left: 30px;
}
.dit {
    text-align: center;
    margin-top: 80px;
    background-color: white;
    color: black;
    padding: 4px;
    font-size: 18px;
}
.dit2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 90px;
    background-color: white;
    color: black;
    padding: 4px;
    font-size: 18px;
}
h2 {
    text-align: left;
    padding-left: 10px;
    color: white;
}
.tov2 {
    padding-left: 10px;
}
.mini_card2:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 255, 13, 0.8);
}
.mini_card:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 255, 13, 0.8);
}
.mini_card3:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 255, 13, 0.8);
}
.mini_card4:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 255, 13, 0.8);
}
.word:hover {
    color: greenyellow;
    transform: scale(1.5);
    border-bottom: 1px solid greenyellow;
}
.word {
    color: white;
    transition: ease 0.3s;

}
.kat_text:hover {
    font-size: 28;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.kat_text2 {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    transition: ease 0.4s;
}
.kat_text3 {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    transition: ease 0.4s;
}
.kat_text4 {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    transition: ease 0.4s;
}
.kat_text2:hover {
    font-size: 28;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.kat_text3:hover {
    font-size: 28;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.kat_text4:hover {
    font-size: 28;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    background-color: black;
    color: white;
    font-size: 28px;
}
.img1 {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.img2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer span {
    margin-bottom: 80px;
}
